/* ----------------------------------------------
	Extension icon: stand-alone and in heading
   ---------------------------------------------- */
span.extIconLoginpage {
	background:url('../img/exticon.png') no-repeat 0 0;
}

h1.extIconLoginpage .title {
	background:url('../img/exticon.png') no-repeat 0 5px;
}



/* -------------------------------
	Default layout changes
   ------------------------------- */
body.todoyu-loginpage #right {
	top:20px;
}

body.todoyu-loginpage #right .inner {
	background-color:#edf1e0; /* bcl01 */
}

body.todoyu-loginpage .content span.lt {
	display:block;
}

body.todoyu-loginpage button span.rgt {
	background-color:#d3dabb;
}

#todoyu-loginpage #content h1.headerLine {
	margin:32px 0 0 0;
}

span#password-forget {
	line-height:23px;
	padding-right:10px;
	position:absolute;
	right:300px;
	bottom:18px;
}



/* -------------------------------
	Login form
   ------------------------------- */
form.formLogin {
	padding:0;
	background:none;
}
form.formLogin fieldset {
	border:none;
}
form.formLogin .fElement {
	padding:10px;
}
form.formLogin .fElement .fLabel {
	width:180px;
	padding:5px;

}
form.formLogin .fElement input {
	width:220px;
	padding:2px;
	font-size:13px;
	line-height:16px;
}
form.formLogin .fElement.fieldnameStatus,
form.formLogin .fElement.fieldnameSubmit {
	margin:0;
	float:none;
	border-top:none;
}
form.formLogin .fElement.fieldnameStatus .fLabel,
form.formLogin .fElement.fieldnameSubmit .fLabel {
	display:none;
}
form.formLogin .fElement.fieldnameStatus .fField {
	margin:0 0 0 195px;
}
form.formLogin .fElement.fieldnameSubmit .fField {
	margin:0;
}
form.formLogin .fElement input.checkbox {
	top:3px;
}

form.formLogin .fElement.fieldnameStatus .fField.notification {
	margin-left:0;
}
form.formLogin .notification {
	width:auto;
	margin:0;
	padding:5px 0;
	float:none;
	text-align:center;
	line-height:21px;
	border:1px solid #fff !important;
	background-color:#f8f9e3 !important;
}
	form.formLogin .notification img {
		position:relative;
		top:4px;
		margin-right:5px;
	}
	form.formLogin .notification .icon {
		display: inline-block !important;
		height:18px;
		margin-bottom: -5px;
		margin-right: 3px;
		background-image: url(../../../../core/asset/img/notify.png);
		background-repeat: no-repeat;
		float:none;
	}
	form.formLogin .notification.success {
		background-color:#c5e8c5 !important;
		border-color:#008000;
	}
		form.formLogin .notification.success .icon {
			background-position:0 1px;
		}
	form.formLogin .notification.failure {
		background-color:#f6e0e0 !important;
		border-color:#d1a4a4;
	}
		form.formLogin .notification.failure .icon {
			background-position:0 -47px;
		}


form.formLogin fieldset {
	padding:0;
}
form.formLogin fieldset.message {
	margin:0;
	border:none;
}
	form.formLogin fieldset legend {
		display:none;
	}

form.formLogin div.odd,
form.formLogin div.even {
	background-color:#edf1e0; /* bcl01 */
}

form.formLogin fieldset.buttons {
	text-align:left;
}
form.formLogin fieldset.buttons .fElement .fField {
	float:none;
}

form.formLogin fieldset.buttons,
form.formLogin fieldset.buttons div.odd,
form.formLogin fieldset.buttons div.even,
form.formLogin fieldset.buttons button span.rgt {
	background-color:#d3dabb !important;
}
	button.buttonLogin {
		margin-left:195px;
	}
	button.buttonLogin span.icon {
		background:url('../img/icons.png') no-repeat 4px -57px;
		width:24px;
	}

	button.sendNewPasswordButton span.icon {
		background:url('../img/icons.png') no-repeat 4px -86px;
		width:24px;
	}

#formElement-login-field-status-inputbox,
#formElement-forgotpassword-field-status-inputbox {
	/*height:25px;*/
	border:1px solid #edf1e0;
}

.formLogin  a,
.formLogin  a:hover {
	text-decoration:underline;
}

.formLogin  a:hover {
	color:#4C4C4C;
}



/* ----------------------------
 	Todoyu Info on Login page
   ---------------------------- */
#todoyu-info {
	border:1px solid #d3dabb;
	background-color:#edf1e0;
	clear:both;
	padding:15px;
}



/* ----------------------------
 	Todoyu Panelwidget Slogan
   ---------------------------- */
#todoyu-loginpage .panelWidget .content {
	margin-top:0;
	position:relative;
}

#todoyu-loginpage p.slogan {
	position:absolute;
	bottom:0;
	right:0;
	height:34px;
	padding:12px 10px;
	text-transform:uppercase;
	color:white;
	font-size:13px;
	font-weight:bold;
	text-align:right;
}



/* ------------------------
	Confirmation page
   ------------------------ */
div.passwordResetConfirmationText {
	padding:5px;

}


div.passwordResetConfirmationText.failure {
	background-color:#F6E0E0 !important;
	border-color:#D1A4A4;
}

div.passwordResetConfirmationText.successful {
	background-color:#c5e8c5 !important;
	border-color:#008000;
}



/* ----------------------
	Loginpage
   ---------------------- */
#reLoginPopup {
	text-align:left;
}

#loginform-cookiecheck,
#loginform-javascriptcheck,
#reLoginPopup #relgin-popup-message {
	margin:5px 5px 0 5px;
	border-bottom:1px #fff solid;
	background:#e9ebc6 url('../img/alert.png') no-repeat 16px 16px;
	height:50px;
	padding:18px 0 5px 70px;
}

#reLoginPopup form.formLogin fieldset.buttons,
#reLoginPopup form.formLogin fieldset.buttons div.odd,
#reLoginPopup form.formLogin fieldset.buttons div.even,
#reLoginPopup form.formLogin fieldset.buttons button span.rgt {
	background-color:#e2e2e2 !important;
}

#reLoginPopup form.formLogin div.odd,
#reLoginPopup form.formLogin div.even {
	background-color:#f6f8f1;
}

#reLoginPopup form.formLogin .notification {
	width:480px !important;
}

#loginform-cookiecheck,
#loginform-javascriptcheck {
	background-color:#fbfdd5;
	border:1px #fff solid;
}

#loginform-cookiecheck .fField,
#formElement-login-field-javascript .fField {
	float:none;
	width:75%;
}