/* ------------------------------------------------------------
	Check library dependencies panel widget
   ------------------------------------------------------------ */
div #panelwidget-loginnews h1 span.title {
	background:url('../img/panelwidget-loginnews.png') no-repeat 4px -28px;
	margin:0;
	padding:0 0 12px 24px;
}

#panelwidget-loginnews #news-local {
	background-color:#eee;
	min-height:200px;
}

#panelwidget-loginnews #loginnews-iframe {
	width:256px;
	border:0;
	overflow:hidden;
}

#panelwidget-loginnews #news-live {
	margin:0;
	padding:10px 5px;
	background:#eee;
	font-family:Arial,Verdana,Helvetica,sans-serif;
	font-size:11px;
}

#panelwidget-loginnews #news-live p {
	margin:0;
	padding:0;
}

#panelwidget-loginnews #news-live a{
	text-decoration:none;
	color:#247f9d;
}

#panelwidget-loginnews #news-live a strong {
	color:#247f9d;
}

#panelwidget-loginnews #news-live a:hover{
	color:#333;
}