<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Comment Mail</title>
<style type="text/css">
body, p {
	margin:0;
	padding:0;
	font-family:Arial;
	font-size:11px;
}

td {
	font-family:Arial;
	font-size:11px;
}
</style>
</head>

<body bgcolor="#f8fff0">

<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
			<img src="config/img/logo.png" alt="" width="159" height="52" border="0" />
			<br /><br /><br />
		</td>
	</tr>
	<tr >
		<td align="center">

			<table  width="70%">
				<tr >
					<td style="color:#000; font-size:11px; font-family:Arial;" bgcolor="#D3DABB" valign="middle" height="52px" padding-left="10px">
						<h2>{Label loginpage.ext.forgotpassword.mail.passwordreset.title}</h2>
					</td>
				</tr>
				<tr bgcolor="#f1f1f1" width="70%" height="80">
					<td>
						<p style="padding:10px;">{Label loginpage.ext.forgotpassword.mail.passwordreset.text}</p>
						<p style="padding-left:10px;">
							<a href="{$loginlink}">
								{Label loginpage.ext.forgotpassword.mail.tologin}
							</a>
						</p>
					</td>
				</tr>
				<tr bgcolor="#D3DABB" width="70%" height="52">
					<td>
						<p style="padding-left:10px;"><strong>{Label loginpage.ext.forgotpassword.mail.yournewpassword}</strong>: {$newPassword}</p>
					</td>
				</tr>
			</table>

		</td>
	</tr>

</table>

</body>
</html>