h1.extIconLoginpage .title {
	background:url('../img/exticon.png') no-repeat 0 5px;
}

/* -------------------------------
	Default layout changes
   ------------------------------- */

body.todoyu-loginpage #right {
	top:20px;
}

body.todoyu-loginpage #right .inner {
	background-color:#edf1e0; /* bcl01 */
}

body.todoyu-loginpage .content span.lt {display:block;}

body.todoyu-loginpage button span.rgt {
	background-color:#d3dabb !important;
}

#todoyu-loginpage #content h1.headerLine {
	margin:32px 0 0 0;
}

span#password-forget {
	line-height:23px;
	padding-right:10px;
	position:absolute;
	right:300px;
	bottom:18px;
}



/* -------------------------------
	Login Form
   ------------------------------- */

form.formLogin .fElement {
	padding-top:10px;
	padding-bottom:10px;
	border-top:1px dotted #fff;
}

form.formLogin .fElement input {
	width:50%;
	font-size:13px;
	line-height:16px;
	padding:2px;
}

form.formLogin .fElement input.checkbox {
	padding:0;
}

form.formLogin .notification {
	background-color:#f8f9e3 !important;
	margin-right: 5px;
	text-align:center;
	border:1px dotted #D3DABB !important;
	width:640px !important;
}
	form.formLogin .notification.success {
		background-color:#c5e8c5 !important;
		border-color:#008000;
	}
		form.formLogin .notification.success .icon {
			padding:0 0 2px 28px;
			background:url(../../../../core/assets/img/notify.png) no-repeat 4px 0;
		}
	form.formLogin .notification.failure {
		background-color:#f6e0e0 !important;
		border-color:#d1a4a4;
	}
		form.formLogin .notification.failure .icon {
			padding:0 0 2px 28px;
			background:url(../../../../core/assets/img/notify.png) no-repeat 4px -48px;
		}

	form.formLogin .notification span.icon {
		float:none;
		clear:both;
		display:inline;
	}	

/*
form.formLogin .loginError {
	padding:10px 20px;
	border:1px solid #0065a6;
	color:#ff0000;
}
*/

form.formLogin fieldset {
	padding:0;
}

form.formLogin div.odd,
form.formLogin div.even {
	background-color:#edf1e0; /* bcl01 */
}

form.formLogin fieldset.buttons,
form.formLogin fieldset.buttons div.odd,
form.formLogin fieldset.buttons div.even,
form.formLogin fieldset.buttons button span.rgt {
	background-color:#d3dabb !important;
}

	form.formLogin fieldset.buttons .fieldnameSubmit {
		float:left;
	}

	form.formLogin fieldset.buttons button.buttonLogin {
		margin-left:300px;
	}
	button.buttonLogin span.icon {
		background:url('../img/icons.png') no-repeat 0 -64px;
	}

#formElement-login-field-status-inputbox {
	/*height:25px;*/
	padding:5px;
	margin:0 5px;
	border:1px solid #EDF1E0;
}



/* ----------------------------
 	Todoyu Info on Loginpage
   ---------------------------- */
#todoyu-info {
	border:1px solid #d3dabb;
	background-color:#edf1e0;
	clear:both;
	margin-top:20px;
	margin-bottom:10px;
	padding:15px;
}


/* ----------------------------
 	Todoyu Panelwidget Slogan
   ---------------------------- */

#todoyu-loginpage .panelwidgetContent {
	position:relative;
}

#todoyu-loginpage p.slogan {
	position:absolute;
	bottom:0;
	right:0;
	height:34px;
	padding:12px 10px;
	text-transform:uppercase;
	color:white;
	font-size:13px;
	font-weight:bold;
	text-align:right;
}