/* ------------------------------------------------------------
	Check library dependencies panel widget
   ------------------------------------------------------------ */

div #panelwidget-loginhints h1 span.title {
	background:url('../img/panelwidget-loginhints.png') no-repeat 4px -28px !important;
	width:258px;
	margin:0 !important;
	padding:0 0 12px 24px;
}

#panelwidget-loginhints-content {
	padding:18px 12px 12px 12px;
	background-color:#fbffcf;
}