/* ------------------------------------------------------------
	Check library dependencies panel widget
   ------------------------------------------------------------ */

div #panelwidget-loginnews h1 span.title {
	background:url('../img/panelwidget-loginnews.png') no-repeat 4px -28px !important;
	width:258px;
	margin:0 !important;
	padding:0 0 12px 24px;
}

#panelwidget-loginnews #news-local {
	background-color:#ffff00;
}

#panelwidget-loginnews #loginnews-iframe {
	width:256px;
	border:0px;
	overflow:hidden;
}
