{extends "core/view/base.tmpl"}

{block "panel"}
	{$panelWidgets}
{/block}

{block "content"}
	<h1 class="headerLine"><span>&nbsp;{Label loginpage.loginbox.title}</span><span class="rgt"><!--right--></span></h1>
	{$loginForm}

	{$extendedContent}
{/block}