{if $isConfirmation}

{Label loginpage.forgotpassword.mail.confirmation.title}

========================================================================
{Label loginpage.forgotpassword.mail.confirmation.text}
========================================================================
{Label loginpage.forgotpassword.mail.toconfirmation}: <{$confirmationlink}>
========================================================================

{else}

{Label loginpage.mail.passwordreset.title}

========================================================================
{Label loginpage.mail.passwordreset.text}
========================================================================
{Label loginpage.mail.tologin}: <{$loginlink}>
========================================================================
{Label loginpage.mail.yournewpassword}: {$newPassword}
========================================================================

{/if}