<noscript type="text/javascript">
	<div id="loginform-javascriptcheck">
		{Label LLL:loginpage.form.javascriptcheck}
	</div>
</noscript>
<script type="text/javascript">
	Todoyu.Ext.loginpage.sendCookieCheck();
</script>