<noscript type="text/javascript">
	<div id="loginform-javascriptcheck">
		{Label LLL:loginpage.form.javascriptcheck}<br />
		<a href="{$javaScriptManual}" target="blank">{Label LLL:loginpage.form.javascriptcheck.linklabel}</a>
		
	</div>
</noscript>
<script type="text/javascript">
	Todoyu.Ext.loginpage.sendCookieCheck();
</script>