{if file_exists($filecheck)}
	<div id="news-live" style="display:none">
		<iframe frameBorder="0" src="{$file}" id="loginnews-iframe" ></iframe>
	</div>
{/if}

<div id="news-local">
	<p>Das sind die lokalen News. Wenn die Seite gelanden wird, sollte man diesen Text nicht sehen</p>
</div>