<div id="news-live" style="display:none">
	<iframe id="loginnews-iframe" src="{$url}"></iframe>
</div>
<div id="news-local">
	<p>Das sind die lokalen News. Wenn die Seite gelanden wird, sollte man diesen Text nicht sehen</p>
</div>